<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>User Dashboard</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Welcome to user dashboard</h1>

			<h1 class="font-weight-bold">User Name : <span th:text="${user.name}"></span></h1>
			<h1 class="font-weight-bold">User Email : <span th:text="${user.email}"></span></h1>
			<h1 class="font-weight-bold"><a th:href="@{/logout}">Logout</a></h1>
		</div>
	</section>

</body>

</html>