<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Change Password Form</title>
</head>

<body>
	<section class="">
		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px;" class="col-md-12">
							<h3 class="text-center mt-5">Enter New Pasword</h3>

							<form th:action="@{/change-password}" method="post">
								<div class="form-group mt-3">
									<input type="password" name="newPassword" class="form-control" placeholder="Enter new password"
										required />
									<div class="container text-center">
										<button class="btn btn-primary mt-4 btn-block">Change Password</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>